@import './button-likeMixins';

.button {
  @include buttonLike;
  &::before {
    @include laneButton;
    background: var(--main-color, #000);
    transition: transform 0.5s ease-in-out;
  }
  &:hover::before {
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
  }
  &:focus {
    outline: none;
  }
  &:focus-visible {
    box-shadow: 2px 2px 0 var(--main-color, #000);
    transition: box-shadow 0.3s;
  }
}

.button__text {
  color: var(--button-text-color, #fff);
  mix-blend-mode: difference;
}

.card__like-button {
  position: relative;
  z-index: 1;
  margin-block-end: 25px;
  padding-inline: 2.5em;
  padding-block: 0.8em;
}