extends ../layouts/default 


block content
  main.content
    include ../components/cards-list/cards-list
        include ../components/card/card 
    include ../components/button/block__button/block__button
 
  
