-
  var headerButtons = [
      {'theme': 'dark', 'ariaDescription': 'Изменить тему сайта на тёмную', 'buttonText': 'Темно',},
      {'theme': 'auto','ariaDescription': 'Тема, исходя из ваших системных настроек', 'buttonText': 'Авто',},
      {'theme': 'light','ariaDescription': 'изменить тему сайта на светлую', 'buttonText': 'Светло',}
  ]